#wrapper{
				width:960px;
				margin:0 auto;
				position:relative;
}
a:link{
				text-decoration:none;
				color:#000033;
}

a:visited{
				color:#000033;
}
#technicals ul{
				list-style:none;
}
#technicals li{
				display:inline;
				padding-right:25px;
}
#topline{
				position:relative;
				margin-left:500px;
}
#logo{
position:relative;
margin-top:25px;
font-size:xx-large;
}
#navbar a:hover{
				font-size:larger;
}
#navbar li{
				display:inline;
				padding-right:70px;
				padding-left:5px;
				font-size:x-large;
}

#navbar{
				margin-left:0px;
				margin-right:40px;
				position:relative;
				margin-top:20px;
				border-top:medium black solid;
				border-bottom:medium black solid;
}

#promotion{
				position:relative;
				margin-top:25px;
}
#join{
				position:relative;
				font-size:x-large;
				margin-left:570px;
				margin-right:40px;
				padding-right:20px;
				padding-bottom:50px;
				padding-left:20px;
				margin-top:-400px;
				border: medium black solid;
}
#media li{
				list-style:none;
				display:inline;
				padding-left:15px;
}
#media{
				position:relative;
				font-size:x-large;
				margin-top:30px;
				margin-right:40px;
				margin-left:570px;
				padding-bottom:10px;
				border: medium black solid;
}
#caseAd{
				border: medium black solid;
				position:relative;
				margin-right:425px;
				margin-top:-100px;
				padding-top:18px;
				padding-bottom:16px;
				
}	
#newrecipe{
				border: medium black solid;
				position:relative;
				margin-right:300px;
				margin-top:300px;
				margin-left:300px;
}
